<header class="admin-header">
    <div class="container">
        <div class="logo">
            <a class="admin-logo-link" asp-controller="admin" asp-action="Index">
                <i class="fa-solid fa-ghost" id="ghost"><span class="admin-text">DASHBOARD</span></i>
            </a>
            </div>
        <nav id="admin-menu" class="admin-menu-links">
            <a class="admin-link" asp-controller="home" asp-action="Index">bmerketo</a>
            <a class="admin-link" asp-controller="admin" asp-action="register">Product Registration</a>
            <div class="dropdown">
                <a class="admin-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Users
                </a>

                <ul class="dropdown-menu">
                    <li><a class="admin-link dropdown-link" asp-controller="admin" asp-action="users">User List</a></li>
                    <li><a class="admin-link dropdown-link" asp-controller="admin" asp-action="createuser">Create User</a></li>
                </ul>
            </div>
        </nav>
        <div class="admin-toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#admin-menu">
                <i id="icon" class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
</header>