<header class="admin-header">
    <div class="container">
        <div class="logo"><a class="link" asp-controller="admin" asp-action="Index"><img src="../images/adminLogo.png" alt="bmerketo"></a></div>
        <nav id="admin-menu" class="admin-menu-links">
            <a class="admin-link" asp-controller="admin" asp-action="Index">Dashboard</a>
            <a class="admin-link" asp-controller="home" asp-action="Index">bmerketo</a>
            <a class="admin-link" asp-controller="admin" asp-action="register">Product registration</a>
        </nav>
        <div class="admin-toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#admin-menu">
                <i id="icon" class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
</header>