<!-- header start-->
<header>
    <div class="container">
        <div class="logo"><a class="link" asp-controller="Home" asp-action="Index"><img src="../images/Logo.svg" alt="bmerketo"></a></div>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="home" asp-action="Index">Home</a>
            <a class="link" asp-controller="products" asp-action="Index">Products</a>
            <a class="link" asp-controller="contacts" asp-action="Index">Contact</a>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <a class="link" asp-controller="admin" asp-action="Index" class="m-4">Admin</a>
            }
            @if (signInManager.IsSignedIn(User))
            {
                <div class="dropdown">
                    <a class="link" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" asp-controller="account" asp-action="Index"> @User.FindFirst("FirstName")?.Value</a></li>
                        <li><a class="dropdown-item" asp-controller="account" asp-action="signout"> Logout</a></li>
                    </ul>
                </div>
            }
            else
            {
                <a class="link" asp-controller="account" asp-action="signin">Login</a>
            }
        </nav>
        <nav class="menu-icons">
            <a class="link" asp-controller="products" asp-action="search"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a class="link" asp-controller="cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
</header>
<!-- header end -->