.product-navigation {
    width: 90%;
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    margin-bottom: 25px;

    .btn-active {
        background-color: $color-theme-1;
        border: 1px solid $color-theme-1;
        color: $color-white;
    }

    button {
        font-size: 0.7rem;
        gap: 0;
        width: 50%;
        padding: 8px 25px;

        @include md {
            padding: 8px 20px;
            font-size: 1.1rem;
            width: auto;
        }

        @include xl {
            padding: 8px 69.8px;
            font-size: 1.1rem;
            width: auto
        }
    }

    .btn-pt-nav {
        border: 1px solid $color-dark-3;
        color: $color-dark-3;
    }

    .btn-active:hover {
        color: $color-dark-1;
        background-color: #800416;
    }
}
