.product-grid-collection {
    margin-top: 50px;

    .text-center {
        color: $color-dark-2;
        font-size: 2.7rem;
        margin-bottom: 10px;
        font-weight: $font-weight-semi-bold;
    }

    .container-fluid {
        padding: 0;

        .no-products {
            text-align: center;
            margin: 0 auto;
            width: 300px;
            border: 1px solid gray;
            padding: 5px;
            border-radius: 15px;
            background-color: $color-theme-1;
            color: $color-white;

            #broken-heart {
                margin-right: 5px;
            }

            @include lg {
                font-size: 1.3rem;
            }
        }

        .category {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;

            @include lg {
                font-size: 1.2rem;
            }

            ul {
                margin: 0 auto;
                padding: 0 !important;
                width: 100%;
                list-style: none;

                li {
                    display: inline;

                    a {
                        color: $color-dark-3;

                        &:hover {
                            color: $color-theme-1;
                        }

                        &:active {
                            color: $color-theme-1;
                        }
                    }
                }

                li + li:before {
                    padding: 8px;
                    content: "/\00a0";
                }
            }
        }

        .product-grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            margin: 0 auto;
            gap: 20px;
            text-align: left;

            @include lg {
                width: 50%;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            .product-grid-item {
                width: 100%;
                margin-bottom: 20px;

                &:hover {
                    transform: scale(1.08);
                    transition: 0.3s;
                }

                .product-name {
                    font-weight: $font-weight-medium;
                    color: $color-dark-1;
                    font-size: 0.8rem;
                    margin-left: 40px;
                    margin-top: 5px;

                    @include lg {
                        font-size: 0.9rem;
                    }
                }

                .product-price {
                    margin-left: 40px;
                    font-size: 0.9rem;
                    font-weight: $font-weight-semi-bold;
                    color: $color-dark-2;
                }

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: contain;
                }
            }
        }
    }
}
