@model ProductModel

@{
    
}

@if (Model != null)
{
    <section class="pt-dn-section">
        <div class="pt-dn-title">
            @Model.Name
        </div>
        <div class="dn-grid-container">
            <div class="dn-grid-item">
                <div class="pt-dn-desc">
                    @Model.Description
                </div>
            </div>
            <div class="dn-grid-item">
                <img src="images/placeholders/469x356.svg" alt="">
            </div>
        </div>
        <hr>
    </section>
}
