<section class="banner">
    <div class="banner-title">
        Products
        <ul>
            <li>
                <a class="link" asp-controller="Home" asp-action="Index">HOME</a>
            </li>
            <li>
                <a class="link" asp-controller="Contacts" asp-action="Index">CONTACT</a>
            </li>
        </ul>
    </div>
</section>