<section class="product-navigation">
    <button class="btn-white btn-active">DESCRIPTION</button>
    <button class="btn-white btn-pt-nav">ADDITIONAL INFO</button>
    <button class="btn-white btn-pt-nav three">REVIEWS (0)</button>
    <button class="btn-white btn-pt-nav four">SHIPPING & DELIVERY</button>
</section>