<section class="product-display">
    <div class="pt-grid-container">
        <div class="pt-image-item">
            <img class="pt-big-image" src="images/placeholders/501x430.svg" alt="">
            <div class="pt-gig-container">
                <div class="pt-gig-item">
                    <img src="images/placeholders/120x113.svg" alt="">
                </div>
                <div class="pt-gig-item">
                    <img src="images/placeholders/120x113.svg" alt="">
                </div>
                <div class="pt-gig-item">
                    <img src="images/placeholders/120x113.svg" alt="">
                </div>
                <div class="pt-gig-item">
                    <img src="images/placeholders/120x113.svg" alt="">
                </div>
            </div>
        </div>
        <div class="pt-grid-item">
            <div class="pt-title">
                Young Star Smart Shoe in Fashion
            </div>
            <div class="pt-description">
                Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet
            </div>
            <hr>
            <div class="pt-stars">
                <i id="pt-star" class="fa-solid fa-star"></i>
                <i id="pt-star" class="fa-solid fa-star"></i>
                <i id="pt-star" class="fa-solid fa-star"></i>
                <i id="pt-star" class="fa-solid fa-star"></i>
                <i id="pt-star" class="fa-solid fa-star"></i>
                <span class="pt-reviews">
                    16 Reviews
                </span>
            </div>
            <div class="pt-price">$30</div>
            <div class="pt-quantity">
                <button class="pt-minus" onclick="Minusnumber()"><i class="fa-solid fa-minus"></i></button>
                <input id="input-quantity" name="quantity" min="1" placeholder="1" onchange="UpdateNumber()" type="number">
                <button class="pt-plus" onClick="Plusnumber()"><i class="fa-solid fa-plus"></i></button>
                <button id="btn-add-cart">Add to cart<i id="cart-svg" class="fa-solid fa-cart-plus"></i></button>
            </div>
            <div class="colors">
                <i id="pt-red" class="fa-solid fa-circle"></i>
                <i id="pt-yellow" class="fa-solid fa-circle"></i>
                <i id="pt-lightblue" class="fa-solid fa-circle"></i>
                <span class="pt-sku">SKU: N/A</span>
            </div>
            <button class="btn-white btn-wishlist">Add to wishlist</button>
            <div class="pt-category">Category: Table Lamp, Light</div>
        </div>
    </div>
</section>