<section class="lw-section">
    <div class="lw-con">
        <div class="lw-item">
            <img src="images/placeholders/200x122.svg" alt="">
        </div>
        <div class="lw-item">
            <img src="images/placeholders/200x122.svg" alt="">
        </div>
        <div class="lw-item">
            <img src="images/placeholders/200x122.svg" alt="">
        </div>
        <div class="lw-item">
            <img src="images/placeholders/200x122.svg" alt="">
        </div>
        <div class="lw-item">
            <img src="images/placeholders/200x122.svg" alt="">
        </div>
    </div>
</section>