@model ProductModel

@{
    var currentProduct = Model;
    var categories = ViewData["Categories"] as List<CategoryModel>;
    var random = new Random();
    var tags = await productService.GetAllAsync();
    var featuredProducts = tags.ToList();
    var randomProductIndex = random.Next(featuredProducts.Count());

    var randomProducts = featuredProducts
        .Where(p => p.Category?.Id == currentProduct.Category?.Id && p.Id != currentProduct.Id)
        .OrderBy(x => Guid.NewGuid())
        .Take(4)
        .ToList();
}

@if (randomProducts.Any())
{
    <section class="rp-section mb-3 pb-3">
        <div class="rp-title">
            Related Products
        </div>
        <div class="rp-grid-con">
            @foreach (var product in randomProducts)
            {
                <div class="rp-grid-item">
                    <a asp-controller="products" asp-action="product" asp-route-name="@product.Name">
                        <img src="@product.ProductImg" alt="">
                        <div class="rp-price-title">@product.Name</div>
                        @if (product.DiscountPrice > 0)
                        {
                            <div class="rp-discount-price">$@string.Format("{0:F0}", product.Price)</div>
                            <span class="rp-price">$@string.Format("{0:F0}", product.DiscountPrice)</span>
                        }
                        else
                        {
                            <span class="rp-price">$@string.Format("{0:F0}", product.Price)</span>
                        }
                    </a>
                </div>
            }
        </div>
    </section>
}