<section class="rp-section">
    <div class="rp-title">
        Related Products
    </div>
    <div class="rp-grid-con">
        <div class="rp-grid-item">
            <img src="../images/placeholders/270x295.svg" alt="">
            <div class="rp-price-title">Gumshoes black fashion</div>
            <div class="rp-discount-price">$120.00</div>
            <span class="rp-price">$80.00</span>
        </div>
        <div class="rp-grid-item">
            <img src="../images/placeholders/270x295.svg" alt="">
            <div class="rp-price-title">Woman white dress</div>
            <span class="rp-price">$30.00</span>
        </div>
        <div class="rp-grid-item">
            <img src="../images/placeholders/270x295.svg" alt="">
            <div class="rp-price-title">Kettle water boiler</div>
            <span class="rp-price">$30.00</span>
        </div>
        <div class="rp-grid-item">
            <img src="../images/placeholders/270x295.svg" alt="">
            <div class="rp-price-title">Congee cooking rice cooker</div>
            <span class="rp-price">$30.00</span>
        </div>
    </div>
</section>