@model UserSignUpViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create User";
}

<div class="d-flex justify-content-center mb-5 pt-3">

    <form method="post" class="col-10 col-xl-3" novalidate>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col mb-3">
                <label asp-for="FirstName" class="form-label d-flex justify-content-center text-success">First Name</label>
                <input asp-for="FirstName" class="form-control" autocomplete="off" />
                <small class="text-danger"><span asp-validation-for="FirstName"></span></small>
            </div>
            <div class="col mb-3">
                <label asp-for="LastName" class="form-label d-flex justify-content-center text-success">Last Name</label>
                <input asp-for="LastName" class="form-control" autocomplete="off" />
                <small class="text-danger"><span asp-validation-for="LastName"></span></small>
            </div>
        </div>

        <div class="col mb-3">
            <label asp-for="Email" class="form-label d-flex justify-content-center text-success">Email</label>
            <input asp-for="Email" class="form-control" autocomplete="off" />
            <small class="text-danger"><span asp-validation-for="Email"></span></small>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label asp-for="Password" class="form-label d-flex justify-content-center text-success"> Password </label>
                <input asp-for="Password" class="form-control" autocomplete="off" id="psw" />

                <small class="text-danger"><span asp-validation-for="Password"></span></small>
            </div>
            <div class="col mb-3">
                <label asp-for="ConfirmPassword" class="form-label d-flex justify-content-center text-success">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                <small class="text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
            </div>
        </div>

        <div id="message">
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>

        <div class="row">
            <div class="col mb-3">
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label d-flex justify-content-center text-success">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                    <small class="text-danger"><span asp-validation-for="PhoneNumber"></span></small>
                </div>
            </div>
            <div class="col mb-3">
                <label asp-for="StreetName" class="form-label d-flex justify-content-center text-success">Street Name</label>
                <input asp-for="StreetName" class="form-control" autocomplete="off" />
                <small class="text-danger"><span asp-validation-for="StreetName"></span></small>
            </div>
        </div>

        <div class="row">
        <div class="col mb-3">
                <label asp-for="PostalCode" class="form-label d-flex justify-content-center text-success">Postal Code</label>
            <input asp-for="PostalCode" class="form-control" autocomplete="off" />
            <small class="text-danger"><span asp-validation-for="PostalCode"></span></small>
        </div>
        <div class="col mb-3">
                <label asp-for="City" class="form-label d-flex justify-content-center text-success">City</label>
                <input asp-for="City" class="form-control" autocomplete="off" />
                <small class="text-danger"><span asp-validation-for="City"></span></small>
        </div>
        </div>

        <div class="mt-5 mb-5">
            <div class="d-grid">
                <button type="submit" class="btn btn-admin">SIGN UP NOW</button>
            </div>
        </div>

    </form>
</div>

<script>
    validationScript()
</script>