@model ProductRegistrationViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Register product";
}


<div class="register d-flex justify-content-center">
    <div class="reg-con col-6 mb-5 mt-3 pb-5">
        <h3 class="mb-3 text-center">Add a new product</h3>
        <form method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" id="name"/>
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
                <div id="nameCheck" class="invalid" style="display: none;">Invalid product name</div>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" id="price" />
                <small><span asp-validation-for="Price" class="text-danger"></span></small>
                <div id="priceCheck" class="invalid" style="display: none;">Invalid price</div>
            </div>

            <div class="mb-3">
                <label asp-for="ImageUrl" class="form-label"></label>
                <input asp-for="ImageUrl" class="form-control" onchange="displayImage(this.value)" id="image"/>
                <div id="imageCheck" class="invalid" style="display: none;">Invalid image link</div>
                <div id="image-preview"></div>
                <small><span asp-validation-for="ImageUrl" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label text-dark"></label>
                <select asp-for="CategoryId" class="form-select  text-dark">
                    <option class="text-dark" value="">Select a category</option>
                    <option class="text-dark" value="1">Bags</option>
                    <option class="text-dark" value="2">Dress</option>
                    <option class="text-dark" value="3">Decoration</option>
                    <option class="text-dark" value="4">Essentials</option>
                    <option class="text-dark" value="5">Interior</option>
                    <option class="text-dark" value="6">Laptop</option>
                    <option class="text-dark" value="7">Mobile</option>
                    <option class="text-dark" value="8">Beauty</option>
                </select>
                <small><span asp-validation-for="CategoryId" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                @foreach(SelectListItem tag in ViewBag.Tags)
                {
                    <div>
                        <input id="tag-@tag.Text-@tag.Value" name="Tags" type="checkbox" value="@tag.Value" checked="@tag.Selected" class="form-check-input"/>
                        <label for="tag-@tag.Text-@tag.Value" class="form-check-label text-dark">@tag.Text</label>
                    </div>
                }
            </div>

            <div class="mb-3" id="discount-price-div" style="display:none;">
                <label asp-for="DiscountPrice"></label>
                <input asp-for="DiscountPrice" class="form-control" id="discountPrice">
                <div id="discountCheck" class="invalid" style="display: none;">Invalid discount price</div>
            </div>


            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control text-dark" rows="4"></textarea>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>

            <div class="d-flex justify-content-center mt-2 mb-2">
                <button type="submit" class="btn-admin">CREATE</button>
            </div>
        </form>
    </div>
</div>

<script>
    productValidation();
</script>