@model List<UserViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "User List";
    var role = await userService.GetAllRolesAsync();
}
<div class="container mt-2 mb-5 d-flex justify-content-center">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-12 col-sm-7">
            <h3 class="mb-3 mt-3 text-center">User list</h3>
            @foreach (var user in Model)
            {
                <partial name="/Views/Partials/AdminPartials/_UserPartial.cshtml" model="@user" />
            }
        </div>
    </div>
</div>
