@model ContactViewModel
<section class="form-section">
    <div class="form-con">
        <div class="form-title">
            Write something
        </div>
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="grid-item">
                <label asp-for="FullName" class="input-title">Your Name*</label>
                <input asp-for="FullName" type="text" id="name" required>
            </div>
            <div class="grid-item">
                <label asp-for="Email" class="input-title">Your Email*</label>
                <input asp-for="Email" type="text" required><br>
            </div>
            <div class="grid-item">
                <label asp-for="PhoneNumber" class="input-title" for="phonenumber">Phone Number (optional)</label>
                <input asp-for="PhoneNumber" type="text"><br>
            </div>
            <div class="grid-item">
                <label asp-for="Company" class="input-title" for="company">Company (optional)</label>
                <input asp-for="Company" type="text"><br>
            </div>
            <div class="message-item">
                <label asp-for="Comment" class="input-title" for="company">Message*</label><br />
                <textarea asp-for="Comment"></textarea>
            </div>
            <div class="checkbox-item">
                <input class="checkbox" type="checkbox" id="save-info" name="save-info">
                <label for="save-info">Save my name, email in this browser for the next time I comment.</label>
            </div>
            <button class="submit-btn" type="submit" value="Submit">Submit</button><br />
        </form>
    </div>
</section>