<section class="news-letter">
    <div class="container">
        <div class="news-div">
            <form>
                <input type="text" class="email-input" placeholder="Enter your email here">
                <button class="btn-subscribe">SUBSCRIBE FOR NEWSLETTER</button>
            </form>
        </div>
    </div>
</section>