.acc-con {
    background: $color-theme-3;
    padding: 60px 0 60px;

    .user-info {
        color: black;
        width: 40%;

        #edit-btn {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .info {
            text-align: center;
            margin-bottom: 10px;
            font-size: 1.1rem;
        }
    }
}
