.register {

    .validation-summary-errors {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    textarea {
        resize: none;
    }

    .form-label {
        color: $color-dark-2 !important;
        font-size: 1.3rem;
    }

    select {
        font-size: 1rem !important;
        border: 1px solid $color-admin-theme !important;
    }

    .form-control {
        border: 1px solid $color-admin-theme !important;

        input:focus {
            background-color: none !important;
        }
    }

    .form-check {

        .checkbox-label {
            font-size: 0.9rem;
            font-weight: $font-weight-medium;
            color: $color-dark-2;
        }
    }
}

.form-check-input[type="checkbox"] {
    /* Change the border color */
    border-color: $color-admin-theme;
}
