@{ ViewData["Title"] = "My Account"; }
<div class="acc-con d-flex justify-content-center">

    <div class="user-info">

        <div class="welcome">
            <h1>Welcome, @User.FindFirst("FirstName")?.Value!</h1>
        </div>

        <div class="user-image">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="your-info">
            Info about you
        </div>

        <div class="info">
            <div class="title">Full name</div>
            @User.FindFirst("FullName")?.Value
        </div>

        <div class="info">
            <div class="title">Email</div>
            @User.Identity?.Name
        </div>

        <div class="info">
            <div class="title">Address</div>
            @User.FindFirst("UserAddress")?.Value
        </div>

    </div>
</div>