.showcase {
    background-color: $color-theme-3;
    padding: 30px 0 30px;

    @include xl {
        padding: 30px 0 40px;
    }

    .container {
        display: block;
        text-align: center;

        @include lg {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .content {
        font-family: $font-poppins;
        color: $color-dark-2;

        @include lg {
            flex: 2;
            text-align: left;
            padding-right: 20px;
        }

        @include xl {
            margin-left: 170px;
            flex: 1;
            padding-right: 100px;
        }

        .ingress {
            font-size: 18px;
            font-weight: $font-weight-regular;
            margin-bottom: 20px;
        }

        .title {
            font-size: 40px;
            font-weight: $font-weight-bold;
            line-height: 1.2;
            margin-bottom: 20px;

            @include lg {
                font-size: 60px;
                margin-bottom: 50px;
            }
        }
    }

    .content-img {
        width: 100%;
        mix-blend-mode: multiply;

        @include lg {
            flex: 1;
            display: block;
            object-fit: contain;
        }
    }

    img {
        width: 60%;
        height: 200px;
        padding: 40px;

        @include md {
            width: 40%;
            height: 300px;
        }

        @include lg {
            width: 100%;
            height: 300px;
        }

        @include xl {
            width: 70%;
            height: 360px;
        }
    }

    a.btn-theme {
        padding: 8px 20px;
    }

    .mobile-link {
        display: none;
    }

    @media (max-width: 767px) {
        .desktop-link {
            display: none;
        }

        .mobile-link {
            display: block;
            margin-top: 10px;
            width: 50%;
            margin: 0 auto;
        }
    }
}
