<section class="banner">
    <div class="banner-title">
        Contact
        <ul>
            <li>
                <a class="link" asp-controller="Home" asp-action="Index">HOME</a>
            </li>
            <li>
                <a class="link" asp-controller="products" asp-action="Index">PRODUCTS</a>
            </li>
        </ul>
    </div>
</section>