<section class="maps-section">
    <div class="maps-con">
        <iframe frameborder="0" 
            src="https://www.google.com/maps/embed/v1/place?q=Skummeslövsstrand,+Sverige&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
        </iframe>
    </div>
</section>