@model CollectionViewModel

@if (Model != null){
    <section class="grid-collection">
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <div class="title">@Model.Title</div>
            }

            @if (Model.Categories != null)
            {
                <div class="breadcrumb-con">
                    <ul class="breadcrumb">
                        @foreach (var category in Model.Categories)
                        {
                            <li><a href="#">@category</a></li>
                        }
                    </ul>
                </div>
            }
        </div>

        @if (Model.GridItems != null)
        {
            <div class="grid-container">
                @foreach (var item in Model.GridItems)
                {
                    <partial name="/Views/Partials/HomePartials/_GridCollectionItem.cshtml" model="item"/>
                }
            </div>
        }

        @if (Model.LoadMore)
        {
            <button class="btn-white btn-load-more">LOAD MORE<i id="loading" class="fa-solid fa-rotate-right"></i></button>
        }

    </section>
}