@model List<ProductModel>

@{
    var products = await productService.GetAllAsync();
    int counter = 0;
    int order = 0;
}

@if (Model.Any() || products.Any())
{
    <section class="sales">
        <div class="container">
            <div class="grid-container">
                @foreach (var product in products)
                {
                    if (product.IsOnSale == true)
                    {
                        @if (counter < 2)
                        {
                            <div class="grid-item" style="order:@order">
                                <a asp-controller="products" asp-action="product" asp-route-name="@product.Name">
                                <img src="@product.ProductImg" alt="">
                                <div class="product-name">
                                    @product.Name
                                </div>
                                <div class="product-discount-price">
                                    $@string.Format("{0:F0}", product.Price)
                                </div>
                                <span class="product-price">$@string.Format("{0:F0}", product.Price / 2)</span>
                                <i id="cart" class="fa-solid fa-cart-plus"></i>
                                </a>
                            </div>
                            counter++;
                            order++;
                        }
                    }
                }

                <div class="grid-item">
                    <div class="sell-header">
                        UP TO SELL
                    </div>
                    <div class="discount">
                        50% OFF
                    </div>
                    <div class="sell-footer">
                        Get The Best Price
                    </div>
                    <div class="offer-text"></div>
                </div>
            </div>
        </div>
    </section>
}