@model List<ProductModel>
@{
    var products = await productService.GetAllAsync();
}

<section class="topsellers">
    <div class="container">
        <div class="header-title">Top selling products in this week</div>
        <div class="grid-container justify-content-center mb-3">
            @foreach (var product in products.Take(8))
            {
                if (product.IsPopular == true)
                {
                    <div class="grid-item">
                        <a asp-controller="products" asp-action="product" asp-route-id="@product.Id">
                            <img src="@product.ProductImg" alt="@product.Name">
                            <div class="product-name">@product.Name</div>
                            <span class="product-price">$@string.Format("{0:F0}", product.Price)</span>
                        </a>
                    </div>
                }
            }

        </div>
        <div class="slides">
            <button class="btn-white btn-slide"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-white btn-slide"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="grid-container-below">
            <div class="grid-item-below">
                <img src="images/placeholders/370x295.svg" alt="">
                <div class="product-name">Table lamp 1562 LTG modal</div>
                <div class="product-description">
                    Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno
                </div>
                <span class="post">POST BY: ADMIN</span><span class="comments">COMMENTS 13</span>
            </div>
            <div class="grid-item-below">
                <img src="images/placeholders/370x295.svg" alt="">
                <div class="product-name">Table lamp 1562 LTG modal</div>
                <div class="product-description">
                    Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno
                </div>
                <span class="post">POST BY: ADMIN</span><span class="comments">COMMENTS 13</span>
            </div>
            <div class="grid-item-below">
                <img src="images/placeholders/370x295.svg" alt="">
                <div class="product-name">Table lamp 1562 LTG modal</div>
                <div class="product-description">
                    Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno
                </div>
                <span class="post">POST BY: ADMIN</span><span class="comments">COMMENTS 13</span>
            </div>
        </div>
    </div>
</section>