<section class="topsellers">
    <div class="container">
        <div class="header-title">Top selling products in this week</div>
        <div class="grid-container">
            <div class="grid-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="product-name">Apple watch series</div>
                <div class="product-discount-price">$120.00</div>
                <span class="product-price">$80.00</span>
            </div>
            <div class="grid-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="product-name">Gumshoes black fashion</div>
                <div class="product-discount-price">$120.00</div>
                <span class="product-price">$80.00</span>
            </div>
            <div class="grid-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="product-name">Woman white dress</div>
                <span class="product-price">$30.00</span>
            </div>
            <div class="grid-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="product-name">Kettle water boiler</div>
                <span class="product-price">$30.00</span>
            </div>
            <div class="grid-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="product-name">Congee cooking rice cooker</div>
                <span class="product-price">$30.00</span>
            </div>
            <div class="grid-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="product-name">Pizza tomato sauce kebab</div>
                <span class="product-price">$30.00</span>
            </div>
        </div>
        <div class="slides">
            <button class="btn-white btn-slide"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-white btn-slide"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="grid-container-below">
            <div class="grid-item-below">
                <img src="images/placeholders/370x295.svg" alt="">
                <div class="product-name">Table lamp 1562 LTG modal</div>
                <div class="product-description">
                    Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno
                </div>
                <span class="post">POST BY: ADMIN</span><span class="comments">COMMENTS 13</span>
            </div>
            <div class="grid-item-below">
                <img src="images/placeholders/370x295.svg" alt="">
                <div class="product-name">Table lamp 1562 LTG modal</div>
                <div class="product-description">
                    Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno
                </div>
                <span class="post">POST BY: ADMIN</span><span class="comments">COMMENTS 13</span>
            </div>
            <div class="grid-item-below">
                <img src="images/placeholders/370x295.svg" alt="">
                <div class="product-name">Table lamp 1562 LTG modal</div>
                <div class="product-description">
                    Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno
                </div>
                <span class="post">POST BY: ADMIN</span><span class="comments">COMMENTS 13</span>
            </div>
        </div>
    </div>
</section>